

.field {
    width: 60%;
    font-weight: bolder;
    margin: 2.5% 0;
    display: flex;
    flex-direction: row;
    justify-content: Left;
    padding-left: 10%;
    align-items: center;
  }

.field_checkbox {
    width: 60%;
  }

.box {
    padding-left: 2%;
}
.title {
    font-weight: bolder;
    font-size: xx-large;
    width: 60%;
    padding-left: 10%;
}