.cover-TripPage {
  margin-top: var(--header-offset);
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: var(--global-padding);
}

.cover-TripPage-info {
  width: 50%;
  height: auto;
  justify-content: space-around;
}

.cover-TripPage-info h1 {
  font-weight: 600;
  font-size: 5vw;
}

.cover-TripPage-info h2 {
  font-weight: 500;
  font-size: 2vw;
}

.cover-TripPage-info p {
  font-weight: 300;
  font-size: 1.5vw;
}

.cover-TripPage-buttons {
  width: 50%;
  height: auto;
  justify-content: space-around;
  align-items: flex-end;
}

.cover-info-container {
  width: 100%;
  margin-bottom: 8%;
}

.container-general-info {
  padding: var(--global-padding);
  height: 60vh;
  margin: 7% 0;
  align-items: center;
}

.trippage-general-info-row {
  justify-content: space-between;
  width: 100%;
}

.trippage-general-info-left {
  width: 50%;
}

.trippage-general-info-right {
  width: 50%;
}
