header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav {
    background-color: #474747;
    border-bottom: 1px solid #e6e6e6;
    height: var(--header-height);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

#searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
